<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <div class="site_title">MENU</div>
        <ng-container *ngFor="let item of menuList">
            <div class="menu_element" (click)="navigate(item)">
                <mat-icon>{{ item.icon }}</mat-icon>
                <div class="title">{{ item.title }}</div>
            </div>
        </ng-container>
    </mat-drawer>

    <div class="example-sidenav-content">

        <div class="main_container">

            <div class="header">
                <div class="title_header">
                    <mat-icon style="color: white; cursor: pointer" (click)="drawer.toggle()" id="iconMenu">menu
                    </mat-icon>
                    <div class="title">NBA SCORE TODAY</div>
                </div>
            </div>
            <!--  <div class="team_container" style="display: flex;">
                <ng-container *ngFor="let item of teamsList">
                    <div class="circle">
                        <img src="{{item.logo}}" style="height: 50px" />
                    </div>
                </ng-container>
            </div> -->
            <div class="content">
                <div class="choose_team">
                    Choose a team
                </div>
                <div class="teams_container">
                    <mat-grid-list cols="3" rowHeight="2:1">
                        <ng-container *ngFor="let item of teamsList">
                            <mat-grid-tile>
                                <mat-card class="example-card">
                                    <mat-card-title-group>
                                        <mat-card-title style="word-break: break-all;">{{item.name}}</mat-card-title>
                                        <mat-card-subtitle>Small</mat-card-subtitle>
                                        <img mat-card-sm-image src="{{item.logo}}">
                                    </mat-card-title-group>
                                    <mat-card-content>

                                    </mat-card-content>
                                </mat-card>
                                <!-- ºs -->
                            </mat-grid-tile>
                        </ng-container>
                    </mat-grid-list>

                </div>

            </div>
        </div>
    </div>
</mat-drawer-container>